{% include 'header.html.twig' %}
{#
{{ dump(userRole) }}
#}
<div class="container mt-5 d-flex justify-content-center">
    <div class="col-sm-6">
    <h1 class="display-5 text-center mb-2"> Felhasználó módosítás</h1>
           <form action="/userRoleEdit" method="POST">
            <input type="hidden" value="{{ userRole.id }}" name="id">
            <div class="form-group">
                <label for="name">Vezetéknév*</label>
                <input type="text" class="form-control" name="name" id="name" value ="{{userRole.name}}" required>
            </div>
            <div class="form-check mt-3">
                <input type="checkbox" name="status" id="status" {{ userRole.status ? 'checked':''}}>
                <label for="status">Aktív</label>
            </div>
            <div class="form-group mt-3 justify-content-between d-flex">
                <a href="javascript:history.go(-1)" class="btn btn-warning"> <i class="fa-solid fa-arrow-left"></i> VISSZA </a>
                <button type="submit" class="btn btn-success text-white" name="update"> <i class="fa-solid fa-floppy-disk"></i> MÓDOSÍT </button>
            </div>
        </form>
    </div>

</div>

{% include 'footer.html.twig' %}